nav {
  user-select: auto;
  background: cadetblue;
  height: 102px;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
nav h1 {
  font-family: cursive;
  font-size: -webkit-xxx-large;
}

body {
  background: #d1d5db;
  height: 100vh;
}

.height {
  height: 100vh;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

#contact {
  font-family: cursive;
  margin-bottom: 5%;
  font-size: xxx-large;
}

#data-contenar {
  user-select: auto;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
#loding {
  display: none;
}
#main-contant {

  font-family: cursive;
  
  font-size: larger;

  font-weight: bold;
}

#not_found {
  display: none;
}
#main-contant{
  display: none;
}
#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-icon{
  padding-left: 18px;
  font-size: xx-large;
  color: black;
}
